body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  html,
  body,
  #root,
  .App {
    width: 100%;
    height: 100%;
    /* margin-top: 90px; */
  }
  h1 {
    position: relative;
    top: 7rem;
    left: 1rem;
    color:white;
    z-index: 10;
    margin: 0;
    padding: 0;
  }

  h2 {
    color: black;
    z-index: 10;
    margin: 0;
    padding: 0;
  }


  .show {
 
    margin-top: 10rem;
    left: 1rem;
    background-color: rgb(201,173,131);
    z-index: 10;
    height:300px;
    /* text-align: center; */
    /* margin: 0;
    padding: 0; */
  }

  


  .search {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
  }
  
  .search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
  }
  
  .locate {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
  }

  .jumbotron{
    position: relative;;
    margin-top:30px;
    width: 100%;
    height: 100px;
    color: #becde6;
    /* background-image: url('image0.png'); */
  }

  .pie{
    display: block; 
    height: 500px;
     width: 1600px;
     margin-top: 120px;
     margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; */
    color:#ffffff;
  
  }

  /* .pie{
    height: 500px;
     width: 1600px;
  } */
/* 
  .current{
    text-align:"center";
     margin-top:0;
     margin-left: 'auto';
    margin-right: 'auto';
  } */

  #info {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-top: 120px;
    margin-left: auto;
   margin-right: auto;
  }
  #info tr{
    height: 50px;
  }
  #info td, #info th {
    border: 1px solid #ddd;
    padding: 8px;
    color:white;
    
  }
  
  #info tr:nth-child(even){background-color:black;}
  
  #info tr:hover {background-color: #b5ccba;}
  
  #info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(94, 121, 115)  ;
    color: white;
  }



  #states{
    color: white;
    text-align:center;
    /* margin-left: auto;
   margin-right: auto;  */
  }